BeautifulSoup==3.2.1
cffi==0.8.6
chardet==2.0.1
colorama==0.3.2
cryptography==0.6.1
decorator==4.0.4
devscripts===2.12.6-deb7u2
funcsigs==0.4
glob2==0.4.1
html5lib==0.999
ipython-genutils==0.1.0
Magic-file-extensions==0.2
mcpi==0.1.1
mercurial==2.2.2
mutagen==1.19
ndg-httpsclient==0.3.2
numpy==1.10.1
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
picamera==1.13
pickleshare==0.5
pifacecommon==4.1.2
pifacedigitalio==3.0.4
ply==3.4
ptyprocess==0.5
pyalsaaudio==0.5
pyasn1==0.1.7
pycparser==2.10
pygooglevoice==0.5
pyOpenSSL==0.14
pyserial==2.6
python-apt==0.8.8.2
python-debian==0.1.21
PyYAML==3.11
requests==2.4.3
RPi.GPIO==0.5.11
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0b1
urllib3==1.24.2
web.py==0.37
wiringpi2==1.1.1
# Remove this
# hg+https://code.google.com/r/kkleidal-pygooglevoiceupdate/
